* {
  caret-color: rgba(0, 0, 0, 0);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Font-Text";
  src: url(../resources/fonts/SPD_TheSans_TT3_.ttf);
  font-style: normal;
}
@font-face {
  font-family: "Font-Heading";
  src: url(../resources/fonts/SPD_TheSans_TT5_.ttf);
  font-style: normal;
}
.title {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  width: 50%;
  height: 100vh;
  background: white;
  transition: 0.75s ease-in-out;
}
.title.active {
  left: -100%;
}
@media (max-width: 700px) {
  .title {
    border-right: none;
    border-bottom: 0 solid black;
    width: 100%;
    height: 40%;
    top: 0;
 }
}
.title .slidein {
  display: flex;
  width: 100%;
  justify-content: space-around;
  position: relative;
  left: -200px;
  opacity: 0;
  animation: slidein 20s 5s infinite;
}
@keyframes slidein {
  5% {
    opacity: 1;
    left: 0;
 }
  60% {
    opacity: 1;
    left: 0;
 }
  80% {
    opacity: 0;
    left: -200px;
 }
  100% {
    opacity: 0;
 }
}
.title .slidein .nilsmaute, .title .slidein .marianneroth {
  opacity: 1;
  width: 300px;
  height: 300px;
  position: relative;
  text-align: center;
  top: -30px;
}
.title .slidein .nilsmaute p span, .title .slidein .marianneroth p span {
  font-size: 2rem;
}
@media (max-width: 1000px) {
  .title .slidein .nilsmaute p span, .title .slidein .marianneroth p span {
    font-size: 0.85rem;
    font-weight: bold;
 }
}
@media (max-width: 1000px) {
  .title .slidein .nilsmaute, .title .slidein .marianneroth {
    width: 100px;
    height: 100px;
    position: relative;
    font-size: 0.85rem;
 }
}
.title .slidein .nilsmaute img, .title .slidein .marianneroth img {
  width: 100%;
}
.title .headingBx {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  height: 300px;
  width: 70%;
  transition: 0.2s;
  top: 30%;
  font-family: "Font-Heading";
  animation: up 20s 5s infinite;
}
@keyframes up {
  10% {
    top: -100%;
    opacity: 0;
 }
  60% {
    top: -100%;
 }
  80% {
    opacity: 1;
    top: 30%;
 }
  100% {
    top: 30%;
    opacity: 1;
 }
}
@media (max-width: 700px) {
  .title .headingBx {
    top: 20px;
 }
}
.title .headingBx .logo {
  display: flex;
  width: 300px;
  height: 300px;
  position: 0;
}
.title .headingBx .logo a {
  position: relative;
}
.title .headingBx .logo a img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
@media (max-width: 700px) {
  .title .headingBx .logo a {
    top: -20px;
 }
}
@media (max-width: 700px) {
  .title .headingBx .logo {
    position: relative;
    flex-direction: column-reverse;
    background: none;
    justify-content: center;
    color: black;
    padding: 25px;
    top: -20px;
 }
  .title .headingBx .logo .abr {
    font-size: 6rem;
 }
}
@media (max-width: 1000px) {
  .title .headingBx .logo .abr {
    font-size: 4rem;
 }
}
@media (max-width: 700px) {
  .title .headingBx .logo .sub {
    font-size: 2rem;
    font-weight: 300;
 }
}
.title .headingBx .heading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  text-align: left;
  font-size: 4rem;
  font-weight: 700;
  transition: 0.2s;
  color: #e3000f;
  word-break: keep-all;
}
@media (max-width: 700px) {
  .title .headingBx .heading {
    display: none;
 }
}
@media (max-width: 1000px) {
  .title .headingBx .heading {
    display: none;
 }
}
@media (max-width: 1350px) {
  .title .headingBx .heading {
    display: none;
 }
}
@media (max-width: 1600px) {
  .title .headingBx .heading {
    font-size: 3rem;
    word-break: keep-all;
 }
}
.navigator {
  width: 50%;
  height: 100vh;
  background: #e3000f;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 0;
  z-index: 3;
  position: fixed;
  transition: 0.75s ease-in-out;
}
@media (max-width: 700px) {
  .navigator {
    border-left: none;
    bottom: 0;
    width: 100%;
    height: 60%;
 }
}
.navigator.active {
  right: -100%;
}
.navigator nav {
  background: none;
}

.navigator nav ul li {
  padding: 17.5px;
}
.navigator nav ul li a {
  font-family: "Font-Heading";
  font-size: 2.25rem;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  transition: 0.2s ease-in-out;
  position: relative;
}
.navigator nav ul li a:hover {
  background: #fff;
  color: black;
}
@media (max-width: 700px) {
  .navigator nav ul li a {
    font-size: 1.75rem;
 }
}
.loading {
  background: #e3000f;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading img {
  filter: invert(100%);
  width: 7.5%;
}
@keyframes loading {
  0% {
    transform: translateY(-100%);
 }
  30% {
    transform: translateY(0%);
 }
  70% {
    transform: translateY(0%);
 }
  100% {
    transform: translateY(100%);
 }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
 }
  45% {
    transform: rotate(180);
 }
  55% {
    transform: rotate(180);
 }
  100% {
    transform: rotate(360deg);
 }
}

.content {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.content .menupunkt {
  width: 80%;
  height: auto;
  visibility: visible;
  transform: translateY(30px);
  transition: 0.2s;
}
@media (max-width: 700px) {
  .content .menupunkt {
    width: 96vw;
 }
}
.content .menupunkt .heading {
  position: relative;
  margin-top: 30px;
  padding-left: 10px;
  top: -40px;
}
.content .menupunkt .heading h1 {
  font-family: "Font-Heading";
  font-weight: 500;
  font-size: 2.25rem;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.content .menupunkt .heading::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: #e3000f;
  bottom: 0px;
  left: 0;
}
.content .aktuelles .inhalte {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0;
}
@media (max-width: 700px) {
  .content .aktuelles .inhalte {
    flex-direction: column;
 }
}
.content .aktuelles .inhalte .newspage {
  display: flex;
}
.content .aktuelles .inhalte .newspage .beitrag {
  display: flex;
  width: calc(100%-40px);
  height: auto;
  box-shadow: 0px 0px 3px 2px lightgrey;
  background: #e3000f;
  color: white;
  margin-top: 20px;
}
.content .aktuelles .inhalte .newspage .beitrag h2 {
  padding: 0px;
  color: white;
  font-family: "Font-Heading";
  font-weight: bold;
  font-size: 2rem;
}
@media (max-width: 1000px) {
  .content .aktuelles .inhalte .newspage .beitrag {
    flex-direction: column;
    width: 100%;
 }
}
.content .aktuelles .inhalte .newspage .beitrag .textArea {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 20px;
}
.content .aktuelles .inhalte .newspage .beitrag .textArea .imgArea {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  float: left;
}
@media (max-width: 700px) {
  .content .aktuelles .inhalte .newspage .beitrag .textArea .imgArea {
    width: 100%;
    padding-right: 0px;
 }
}
.content .aktuelles .inhalte .newspage .beitrag .textArea .imgArea img {
  width: 100%;
  object-fit: cover;
}
.content .aktuelles .inhalte .newspage .beitrag .textArea .text .preview {
  margin-top: 20px;
  padding-right: 20px;
}
.content .aktuelles .inhalte .newspage .beitrag .textArea.active .main {
  display: block;
}
@media (max-width: 700px) {
  .content .aktuelles .inhalte .newspage .beitrag .textArea {
    width: 100%;
 }
}
.content .aktuelles .inhalte .mainpage .embed {
  display: flex;
  justify-content: center;
  width: 50%;
  order: 2;
  height: auto;
}
@media (max-width: 700px) {
  .content .aktuelles .inhalte .mainpage .embed {
    height: 600px;
 }
}
.content .aktuelles .inhalte .mainpage .embed .instagram-media {
  background: #e3000f;
  width: 50%;
  height: auto;
}
@media (max-width: 700px) {
  .content .aktuelles .inhalte .mainpage .embed {
    width: 100%;
 }
}
.content .aktuelles .inhalte .mainpage .welcometxt {
  width: 50%;
  font-family: "Font-Text";
  font-size: 1.125rem;
  position: relative;
  order: 1;
}
.content .aktuelles .inhalte .mainpage .welcometxt h2 {
  padding-bottom: 20px;
  font-size: 5rem;
  font-weight: 500;
  font-family: "Font-Heading";
}
@media (max-width: 700px) {
  .content .aktuelles .inhalte .mainpage .welcometxt h2 {
    font-size: 4rem;
 }
}
.content .aktuelles .inhalte .mainpage .welcometxt .news {
  border: none;
  position: relative;
}
.content .aktuelles .inhalte .mainpage .welcometxt .news h3 {
  font-family: "Font-Text";
  font-weight: 600;
  font-size: 1.5rem;
}
.content .aktuelles .inhalte .mainpage .welcometxt .news .preview_news {
  width: 100%;
  height: 325px;
  overflow: hidden;
}
.content .aktuelles .inhalte .mainpage .welcometxt .news .preview_news figure {
  position: relative;
  width: 500%;
  display: inline;
  overflow: hidden;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}
.content .aktuelles .inhalte .mainpage .welcometxt .news .preview_news figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  float: left;
  position: relative;
  top: 0px;
  z-index: 0;
}
.content .aktuelles .inhalte .mainpage .welcometxt .news .preview_news figure .preview_item {
  width: 100%;
  height: 100%;
  background: #e3000f;
  color: white;
  padding: 20px;
  top: 0;
  float: left;
  background-size: cover;
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
}
.content .aktuelles .inhalte .mainpage .welcometxt .news .preview_news figure .preview_item h3, .content .aktuelles .inhalte .mainpage .welcometxt .news .preview_news figure .preview_item p {
  z-index: 3 !important;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7;
 /* number of lines to show */
  line-clamp: 7;
  -webkit-box-orient: vertical;
}
.content .aktuelles .inhalte .mainpage .welcometxt .news .preview_news figure .preview_item span {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
}
@keyframes slider {
  0% {
    top: 0;
 }
  20% {
    top: 0;
 }
  25% {
    top: -100%;
 }
  45% {
    top: -100%;
 }
  50% {
    top: -200%;
 }
  70% {
    top: -200%;
 }
  75% {
    top: -300%;
 }
  95% {
    top: -300%;
 }
  100% {
    top: 0;
 }
}
@media (max-width: 700px) {
  .content .aktuelles .inhalte .mainpage .welcometxt {
    width: 100%;
 }
}
.content .aktuelles .inhalte .mainpage .termine {
  position: relative;
  top: 20px;
  order: 3;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
  font-family: "Font-Text";
}
@media (max-width: 1000px) {
  .content .aktuelles .inhalte .mainpage .termine {
    width: 100%;
    margin-right: 10px;
 }
}
.content .aktuelles .inhalte .mainpage .termine h3 {
  font-family: "Font-Text";
  font-weight: 600;
  font-size: 1.5rem;
}
.content .aktuelles .inhalte .mainpage .termine .kalender {
  width: 100%;
  height: auto;
  font-family: "Font-Text";
}
@media (max-width: 1000px) {
  .content .aktuelles .inhalte .mainpage .termine .kalender {
    width: 100%;
    margin-right: 10px;
 }
}
.content .aktuelles .inhalte .mainpage .termine .kalender .monate {
  width: 100%;
  height: auto;
}
.content .aktuelles .inhalte .mainpage .termine .kalender .monate .bar {
  width: 100%;
  height: auto;
  padding: 20px;
  background: #e3000f;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
@media (max-width: 1000px) {
  .content .aktuelles .inhalte .mainpage .termine .kalender .monate .bar {
    width: 98%;
 }
}
.content .aktuelles .inhalte .mainpage .termine .kalender .monate .bar .header_kalender {
  font-size: 2.5rem;
  color: white;
}
.content .aktuelles .inhalte .mainpage .termine .kalender .monate .bar .header_kalender span {
  font-weight: bold;
}
.content .aktuelles .inhalte .mainpage .termine .kalender .monate .eintraege {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.content .aktuelles .inhalte .mainpage .termine .kalender .monate .eintraege .eintrag {
  width: 49.5%;
  height: auto;
  min-height: 40vh;
  padding: 10px;
  margin-bottom: 10px;
  background: #bbb;
  display: flex;
}
@media (max-width: 1000px) {
  .content .aktuelles .inhalte .mainpage .termine .kalender .monate .eintraege .eintrag {
    flex-direction: column;
    width: calc(100% / 1);
    margin-right: 10px;
 }
}
.content .aktuelles .inhalte .mainpage .termine .kalender .monate .eintraege .eintrag .informationen {
  width: 60%;
}
@media (max-width: 1000px) {
  .content .aktuelles .inhalte .mainpage .termine .kalender .monate .eintraege .eintrag .informationen {
    width: 100%;
 }
}
.content .aktuelles .inhalte .mainpage .termine .kalender .monate .eintraege .eintrag .informationen .headline {
  width: 100%;
  padding-left: 20px;
  border-left: 3px solid black;
}
.content .aktuelles .inhalte .mainpage .termine .kalender .monate .eintraege .eintrag .informationen .headline .name {
  width: 100%;
  font-size: 2rem;
  font-weight: 100;
}
.content .aktuelles .inhalte .mainpage .termine .kalender .monate .eintraege .eintrag .informationen .headline .event {
  font-size: 1rem;
  font-weight: 900;
}
.content .aktuelles .inhalte .mainpage .termine .kalender .monate .eintraege .eintrag .informationen .description {
  padding: 10px;
}
.content .aktuelles .inhalte .mainpage .termine .kalender .monate .eintraege .eintrag .informationen .description .text {
  padding-bottom: 20px;
}
.content .aktuelles .inhalte .mainpage .termine .kalender .monate .eintraege .eintrag .informationen .description .details {
  display: flex;
}
.content .aktuelles .inhalte .mainpage .termine .kalender .monate .eintraege .eintrag .informationen .description .details .time, .content .aktuelles .inhalte .mainpage .termine .kalender .monate .eintraege .eintrag .informationen .description .details .place {
  width: 50%;
  display: flex;
}
.content .aktuelles .inhalte .mainpage .termine .kalender .monate .eintraege .eintrag .informationen .description .details .time .icon, .content .aktuelles .inhalte .mainpage .termine .kalender .monate .eintraege .eintrag .informationen .description .details .place .icon {
  width: 50px;
  aspect-ratio: 1;
}
.content .aktuelles .inhalte .mainpage .termine .kalender .monate .eintraege .eintrag:nth-child(odd) {
  background: #ccc;
}
.content .aktuelles .inhalte .mainpage .termine .kalender .monate .eintraege .eintrag .imageArea {
  width: 40%;
  height: auto;
}
@media (max-width: 1000px) {
  .content .aktuelles .inhalte .mainpage .termine .kalender .monate .eintraege .eintrag .imageArea {
    width: 100%;
    height: 100%;
 }
}
.content .aktuelles .inhalte .mainpage .termine .kalender .monate .eintraege .eintrag .imageArea img {
  width: 100%;
  object-fit: cover;
}
@media (max-width: 700px) {
  .content .aktuelles .inhalte .mainpage .termine {
    width: 100%;
 }
}

.content .historie .inhalte {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex-wrap: wrap;
  padding: 0;
  font-family: "Font-Text";
}
.content .historie .inhalte ::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}
.content .historie .inhalte ::-webkit-scrollbar-track {
  border-radius: 10px;
  border: 1px solid black;
}
.content .historie .inhalte ::-webkit-scrollbar-thumb {
  background: #e3000f;
  border-radius: 10px;
}
.content .historie .inhalte ::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 35, 35, 0.75);
}
.content .historie .inhalte .textarea {
  width: 100%;
  overflow: hidden;
  position: relative;
}
@media (max-width: 1000px) {
  .content .historie .inhalte .textarea {
    height: max-content;
 }
}
.content .historie .inhalte .textarea .container {
  position: relative;
}
.content .historie .inhalte .textarea .container .absatz {
  margin-bottom: 7px;
}
.content .historie .inhalte .textarea .container .absatz .textcontent img {
  width: 100%;
}
.content .historie .inhalte .textarea .container .absatz h3 {
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: white;
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  background: #e3000f;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-right: 5px;
}
@media (max-width: 1000px) {
  .content .historie .inhalte .textarea .container .absatz h3 {
    margin: 0;
    margin-bottom: 5px;
 }
}
.content .historie .inhalte .textarea .container .absatz h3 .arrow {
  position: absolute;
  top: 40%;
  right: 10px;
  transform: translateY(-5px) rotate(-90deg);
  display: inline-block;
  text-align: center;
  user-select: none;
}
.content .historie .inhalte .textarea .container .absatz.active h2 {
  display: block;
}
.content .historie .inhalte .textarea .container .absatz.active p {
  display: contents;
}
.content .historie .inhalte .textarea .container .absatz.active .imgArea {
  display: flex;
}
.content .historie .inhalte .textarea .container .absatz.active .arrow {
  transform: translateY(-5px) rotate(90deg);
  justify-self: end;
}
.content .historie .inhalte .textarea .container .absatz h2 {
  display: block;
}
.content .historie .inhalte .textarea .container .absatz p {
  display: none;
}
.content .historie .inhalte .textarea .container .absatz .imgArea {
  display: none;
  height: 70vh;
  grid-area: gallery;
  justify-content: center;
  align-items: flex-start;
  box-shadow: 0px 0px 3px 2px lightgrey;
  position: relative;
}
.content .historie .inhalte .textarea .container .absatz .imgArea .swipe {
  position: absolute;
  bottom: 20px;
  right: 5px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  z-index: 100;
  user-select: none;
}
.content .historie .inhalte .textarea .container .absatz .imgArea .previous, .content .historie .inhalte .textarea .container .absatz .imgArea .next {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  padding: 20px;
  cursor: pointer;
  user-select: none;
  align-self: center;
  z-index: 20;
}
.content .historie .inhalte .textarea .container .absatz .imgArea figure {
  width: 100%;
  height: 100%;
  display: flex;
  overflow-x: scroll;
}
.content .historie .inhalte .textarea .container .absatz .imgArea figure img {
  position: relative;
  border-right: white 5px solid;
  width: 100%;
  object-fit: contain;
}
@media (max-width: 1000px) {
  .content .historie .inhalte .textarea {
    width: 100%;
 }
}
.content .historie .inhalte .downloads {
  width: 30%;
  padding: 10px;
}
.content .historie .inhalte .downloads ul {
  margin-left: 30px;
}
.content .historie .inhalte .downloads ul li {
  margin: 3px;
}
.content .historie .inhalte .downloads ul li a {
  color: #e3000f;
  text-decoration: underline;
}
@media (max-width: 700px) {
  .content .historie .inhalte .downloads {
    width: 100%;
 }
}
.content .historie .inhalte .timeline {
  width: 100%;
  height: 65vh;
  overflow: auto;
  margin: 20px 0px;
  background-color: none;
  border-radius: 0 0 10px 10px;
  padding-top: 25px;
}
@media (max-width: 1000px) {
  .content .historie .inhalte .timeline {
    height: 67vh;
 }
}
.content .historie .inhalte .timeline figure {
  position: relative;
  width: 300%;
  height: 100%;
  left: 0%;
  display: flex;
  transition: 0.5s;
  background: #fff;
}
@media (max-width: 700px) {
  .content .historie .inhalte .timeline figure {
    width: 700%;
 }
}
.content .historie .inhalte .timeline figure .headline {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
}
.content .historie .inhalte .timeline figure .headline h2 {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #aaa;
}
.content .historie .inhalte .timeline figure .line {
  position: absolute;
  width: 97%;
  height: 0px;
  border: 1px dashed rgba(0, 0, 0, 1);
  left: 1.5%;
  top: calc(50% - 15px);
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.content .historie .inhalte .timeline figure .slide {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.content .historie .inhalte .timeline figure .slide .timestamp {
  min-width: 165px;
  height: auto;
  position: relative;
  z-index: 10;
}
.content .historie .inhalte .timeline figure .slide .timestamp:nth-child(even) {
  top: -25%;
}
@media (max-width: 700px) {
  .content .historie .inhalte .timeline figure .slide .timestamp:nth-child(even) {
    top: -35%;
 }
}
.content .historie .inhalte .timeline figure .slide .timestamp:nth-child(odd) {
  top: 5%;
}
@media (max-width: 700px) {
  .content .historie .inhalte .timeline figure .slide .timestamp:nth-child(odd) {
    top: 5%;
 }
}
.content .historie .inhalte .timeline figure .slide .timestamp:hover .imgArea {
  transform: translateY(-150px);
  height: 150px;
}

.content .historie .inhalte .timeline figure .slide .timestamp .textArea {
  position: absolute;
  width: 100%;
  background: #e3000f;
  color: white;
  z-index: 1;
  padding: 10px;
  text-align: center;
  font-family: "Font-Text";
  font-size: 0.85rem;
  word-break: break-all;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 2px lightgrey;
}
.content .historie .inhalte .timeline figure .slide .timestamp .imgArea {
  position: absolute;
  top: 10px;
  width: 100%;
  padding: 7.5px;
  height: 100%;
  background: #e3000f;
  border-radius: 10px 10px 0 0;
  transition: 0.25s ease-out;
  box-shadow: 0px 0px 3px 2px lightgrey;
}
.content .historie .inhalte .timeline figure .slide .timestamp .imgArea img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.partei .inhalte {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0;
}

.partei .inhalte .flexbox {
  display: none;
}
.partei .inhalte .flexbox.active {
  display: flex;
}
.partei .inhalte .grid {
  width: 100%;
  display: none;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-gap: 10px;
  grid-template-areas: ". . ." ". . ." ". . .";
}
.partei .inhalte .grid.active {
  display: grid;
}
@media (max-width: 1000px) {
  .partei .inhalte .grid {
    display: none;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: ".";
    grid-gap: 10px;
 }
  .partei .inhalte .grid.active {
    display: grid;
 }
}
.partei .inhalte .grid .cell {
  position: relative;
  display: flex;
  background: #e3000f;
  color: white;
  width: 100%;
  height: 400px;
  transition: 0.5s;
  overflow: hidden;
  box-shadow: 0px 0px 3px 2px lightgrey;
}
@media (max-width: 1000px) {
  .partei .inhalte .grid .cell {
    grid-column-start: span 3;
 }
}
.partei .inhalte .grid .cell.active {
  z-index: 6;
}
@media (max-width: 1000px) {
  .partei .inhalte .grid .cell.active {
    width: 100%;
 }
}
.partei .inhalte .grid .cell.active img {
  width: 30%;
}
.partei .inhalte .grid .cell.active .text {
  left: 30%;
  width: 70%;
  opacity: 1;
  transition: 0.5s;
}
.partei .inhalte .grid .cell.active .name_title {
  opacity: 0;
}
.partei .inhalte .grid .cell .text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  opacity: 1;
  transition: 0.5s;
}
.partei .inhalte .grid .cell .text h2 {
  text-transform: uppercase;
  padding-bottom: 10px;
}
.partei .inhalte .grid .cell .text h3 {
  padding-bottom: 10px;
}
.partei .inhalte .grid .cell .text h4 {
  font-size: 1rem;
  padding-bottom: 10px;
  font-style: italic;
  font-weight: normal;
}
.partei .inhalte .grid .cell .text .funktion {
  padding: 15px 0;
}
.partei .inhalte .grid .cell .text .funktion h2 {
  padding: 5px 0;
}
.partei .inhalte .grid .cell img {
  object-fit: cover;
  width: 100%;
  transition: 0.5s;
  z-index: 2;
}
.partei .inhalte .grid .cell .name_title {
  position: absolute;
  bottom: 0;
  left: 0;
  background: white;
  width: 100%;
  text-align: center;
  color: black;
  z-index: 3;
}
.partei .inhalte .grid .cell .name_title .name {
  font-size: 2rem;
}
.partei .inhalte .grid .cell .name_title .partei_title {
  font-size: 1.25rem;
}
.fraktion .inhalte {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0;
}
.fraktion .inhalte .content_personen {
  width: 100%;
  display: none;
}
.fraktion .inhalte .content_personen.active {
  display: block;
}
.fraktion .inhalte .content_personen .flexbox {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  font-family: "Font-Text";
}
@media (max-width: 1000px) {
  .fraktion .inhalte .content_personen .flexbox {
    flex-direction: column;
 }
}
.fraktion .inhalte .content_personen .flexbox .subinhalt {
  width: 50%;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.fraktion .inhalte .content_personen .flexbox .subinhalt .cell {
  position: relative;
  display: flex;
  background: #e3000f;
  color: white;
  width: 100%;
  transition: 0.5s;
  box-shadow: 0px 0px 3px 2px lightgrey;
  margin-bottom: 20px;
  min-height: 600px;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .fraktion .inhalte .content_personen .flexbox .subinhalt .cell {
    min-height: 400px;
 }
}
.fraktion .inhalte .content_personen .flexbox .subinhalt .cell.active {
  color: black;
}
.fraktion .inhalte .content_personen .flexbox .subinhalt .cell.active .imgArea {
  z-index: 0;
  filter: brightness(115%) grayscale(1) invert(0.35);
}
.fraktion .inhalte .content_personen .flexbox .subinhalt .cell .imgArea {
  width: 100%;
  height: 100%;
  position: absolute;
  background: black;
  transition: 0.2s;
  z-index: 10;
}
.fraktion .inhalte .content_personen .flexbox .subinhalt .cell .imgArea img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.fraktion .inhalte .content_personen .flexbox .subinhalt .cell .text {
  float: left;
  z-index: 0;
  padding: 20px;
}
.fraktion .inhalte .content_personen .flexbox .subinhalt .cell .text ul {
  margin-left: 30px;
}
@media (max-width: 1000px) {
  .fraktion .inhalte .content_personen .flexbox .subinhalt .cell .text ul {
    font-size: 1rem;
 }
}
.fraktion .inhalte .content_personen .flexbox .subinhalt .cell .text p {
  margin-top: 10px;
}
@media (max-width: 1000px) {
  .fraktion .inhalte .content_personen .flexbox .subinhalt .cell .text p {
    font-size: 1rem;
 }
}
@media (max-width: 1000px) {
  .fraktion .inhalte .content_personen .flexbox .subinhalt .cell .text {
    padding: 10px;
 }
}
.fraktion .inhalte .content_personen .flexbox .subinhalt .cell h2 {
  text-align: left;
  font-family: "Font-Heading";
  font-weight: normal;
}
.fraktion .inhalte .content_personen .flexbox .subinhalt .cell h2 span {
  position: relative;
  line-height: 10px;
  top: -5px;
  font-size: 1rem;
  font-weight: bold;
  word-break: keep-all;
}
@media (max-width: 1000px) {
  .fraktion .inhalte .content_personen .flexbox .subinhalt .cell {
    width: 100%;
    padding: 0;
 }
}
@media (max-width: 1000px) {
  .fraktion .inhalte .content_personen .flexbox .subinhalt {
    width: 100%;
    padding: 0;
 }
}
.fraktion .inhalte .content_personen .flexbox .subinhalt h2 {
  font-family: "Font-Heading";
  text-align: center;
  font-size: 2rem;
}
.fraktion .inhalte .content_ausfraktion {
  width: 100%;
  display: none;
  position: relative;
  top: 20px;
}
.fraktion .inhalte .content_ausfraktion.active {
  display: contents;
  flex-direction: row;
}
@media (max-width: 700px) {
  .fraktion .inhalte .content_ausfraktion.active {
    flex-direction: column;
 }
}
.fraktion .inhalte .content_ausfraktion .flexbox {
  display: grid;
  grid-template-columns: 1.3fr 0.7fr;
  grid-template-rows: 0.1fr 1.9fr;
  gap: 0px 0px;
  grid-template-areas: "heading-news heading-downloads" "news downloads";
}
@media (max-width: 700px) {
  .fraktion .inhalte .content_ausfraktion .flexbox {
    width: 100%;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: 0.05fr 1.9fr 0.05fr 1.9fr;
    gap: 10px 0px;
    grid-template-areas: "heading-news" "news" "heading-downloads" "downloads";
 }
}
@media (max-width: 700px) {
  .fraktion .inhalte .content_ausfraktion .flexbox {
    width: 100%;
 }
}
.fraktion .inhalte .content_ausfraktion .flexbox .news {
  height: auto;
  position: relative;
}
@media (max-width: 700px) {
  .fraktion .inhalte .content_ausfraktion .flexbox .news {
    width: 100%;
 }
}
.fraktion .inhalte .content_ausfraktion .flexbox .news :nth-child() {
  height: auto !important;
}
.fraktion .inhalte .content_ausfraktion .flexbox .news .beitrag {
  display: flex;
  width: calc(100%-40px);
  height: auto;
  box-shadow: 0px 0px 3px 2px lightgrey;
  background: #e3000f;
  color: white;
  margin-top: 20px;
}
.fraktion .inhalte .content_ausfraktion .flexbox .news .beitrag h2 {
  padding: 0px;
  color: white;
  font-family: "Font-Heading";
  font-weight: bold;
  font-size: 2rem;
}
@media (max-width: 1000px) {
  .fraktion .inhalte .content_ausfraktion .flexbox .news .beitrag {
    flex-direction: column;
    width: 100%;
 }
}
.fraktion .inhalte .content_ausfraktion .flexbox .news .beitrag .textArea {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 20px;
}
.fraktion .inhalte .content_ausfraktion .flexbox .news .beitrag .textArea .imgArea {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  float: left;
}
@media (max-width: 700px) {
  .fraktion .inhalte .content_ausfraktion .flexbox .news .beitrag .textArea .imgArea {
    width: 100%;
    padding-right: 0px;
 }
}
.fraktion .inhalte .content_ausfraktion .flexbox .news .beitrag .textArea .imgArea img {
  width: 100%;
  object-fit: cover;
}
.fraktion .inhalte .content_ausfraktion .flexbox .news .beitrag .textArea .text .preview {
  margin-top: 20px;
  padding-right: 20px;
}
.fraktion .inhalte .content_ausfraktion .flexbox .news .beitrag .textArea.active .main {
  display: block;
}
@media (max-width: 700px) {
  .fraktion .inhalte .content_ausfraktion .flexbox .news .beitrag .textArea {
    width: 100%;
 }
}
.fraktion .inhalte .content_ausfraktion .flexbox .downloads {
  height: auto;
  margin-left: 10px;
  margin-top: 20px;
}
.fraktion .inhalte .content_ausfraktion .flexbox .downloads h2 {
  color: black;
  margin-bottom: 20px;
}
.fraktion .inhalte .content_ausfraktion .flexbox .downloads ul {
  margin-left: 30px;
}
.fraktion .inhalte .content_ausfraktion .flexbox .downloads ul li {
  margin: 3px;
}
.fraktion .inhalte .content_ausfraktion .flexbox .downloads ul li a {
  color: #e3000f;
  text-decoration: underline;
}
@media (max-width: 700px) {
  .fraktion .inhalte .content_ausfraktion .flexbox .downloads {
    width: 100%;
 }
}
.fraktion .inhalte .trigger {
  width: 100%;
  text-align: center;
}
.fraktion .inhalte .trigger span {
  background: #e3000f;
  margin: 10px;
  cursor: pointer;
  color: white;
  padding: 20px 40px;
}
.fraktion .inhalte .selector {
  display: flex;
  width: 100%;
  height: 0px;
  z-index: 10;
  justify-content: center;
  font-size: 1.25rem;
  font-family: "Font-Heading";
  text-align: center;
  line-height: 3rem;
  color: white;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 20px;
}
.fraktion .inhalte .selector.active {
  overflow: visible;
  height: auto;
  background: #e3000f;
}
.fraktion .inhalte .selector ul {
  color: white;
}
.fraktion .inhalte .selector ul .trigger {
  font-size: 1.5rem;
  text-decoration: underline;
  color: black !important;
}
.fraktion .inhalte .selector ul li {
  cursor: pointer;
  text-align: left;
}
.fraktion .inhalte .selector ul li.active {
  color: white;
  position: relative;
  left: -20px;
  font-weight: bold;
}
@media (max-width: 1000px) {
  .fraktion .inhalte .selector {
    font-size: 1rem;
    width: 100%;
 }
}
